body {
    margin: 0;
}

.main {
    width: 100%;
    height: 600vh;
    background-color: #ffff;
}

.mainheader {
    display: flex;
    width: 100%;
    height: 80px;
}


.mainContainer {
    display: flex;
    width: 100%;
    height: 80px;
}


.left {
    display: flex;
    align-items: center;
    width: 45%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.884);
    color: #ffff;

}

.left a {
    color: #ffff;
    font-size: 35px;
    margin-left: 20px;
}

.right {
    display: flex;
    justify-content: flex-end;
    width: 55%;
    height: 100%;
    background-color: rgba(43, 43, 43, 0.884);
    gap: 25px;
    cursor: pointer;
}

.main1 {
    width: 80vh;
    width: 100%;
}

.main1 img {
    width: 100%;
    height: 100%;
}



.right a {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    align-items: center;
    gap: 20px;
    color: #ffff;
    margin-right: 20px;
}

.right a:hover {
    opacity: 0.2;
}

.volume {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 500px;
    background-color: rgba(43, 43, 43, 0.884);
    display: flex;
}

.levi {
    width: 200px;
    height: 300px;


}

.c {
    width: 100px;
    height: 100px;
}

.levi img {
    width: 100%;
    height: 100px;
    margin: 30px 0 0 0px;
}

.wild {
    width: 200px;
    height: 400px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    color: #ffff;
    font-size: 21px;
    cursor: pointer;
}

.wild a:hover {

    color: yellow;
}

.wild a {
    margin-top: 30px;
}

.center {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.center a {
    margin-left: 140px;
    font-size: 20px;
    color: #ffff;


}

.namesti {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    font-size: 20px;
    margin-top: 200px;

}

.ez {
    display: flex;
    justify-content: start;
    margin-left: 140px;
    gap: 30px;
    transition: 3s;
}

.ez i:hover {
    transform: rotate(360deg);
    color: rgb(53, 202, 228);
    opacity: 0.3;
    transition: 1.5s;
}

.ez i {
    display: flex;
    justify-content: start;

}



.end {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 230px;
    cursor: pointer;
}

.end button {
    font-size: 20px;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    gap: 10px;
    border: 2px solid #ffff;
    cursor: pointer;
}

.btn {
    background-color: transparent;
    border: 2px solid #ffff;
    color: #ffff;
}

.btn:hover {
    background-color: #ffff;
    color: rgb(70, 70, 172);

}

.btn1 {
    border: 2px solid #ffff;
    color: #2654aa;
}

.btn1:hover {
    color: #ffff;
    background-color: rgba(43, 43, 43, 0.884);


    border: 2px solid #ffff;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    font-size: 30px;
}

.glavni {
    display: flex;
    width: 100%;
    height: 170px;

}

.leftText {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    font-size: 20px;
    height: 100%;
    margin-left: 370px;
}

.desniText {
    display: flex;
    justify-content: start;
    height: 100%;
    width: 30%;
    font-size: 20px;
}

.png {
    width: 100%;
    height: 614px;
}

.png img {
    width: 100%;
    height: 100%;
}

.colum1 {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #2654aa;
    margin: 0;
    padding: o;
}

.card {
    height: 350px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: #2654aa;

    margin: 0;
    padding: o;
    gap: 20px;
    border-radius: 10px;
}

.btn2:hover {
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(53, 202, 228);
    background-color: transparent;
}

.btn2 {
    background-color: #ffff;
    border: 1px solid #ffff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.header i {
    font-weight: 1500;
}

.meni {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 70%;
    margin: 0;
    padding: 0;
    gap: 20px;
    color: #ffff;

}

.meni h4 {
    margin: 0;
    padding: 0;
    font-size: 20px;

}

.meni h3 {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.btn2 {
    border-radius: 50px;
    background-color: transparent;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
}

.zadnji {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leptir {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.leptir img {
    height: 150px;
    width: 400px;

}

.leptiric {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.leptiric button {
    display: flex;
    font-size: 20px;
    border-radius: 50px;
    width: 200px;
    height: 50px;
    gap: 10px;
    border: 2px solid black;
    cursor: pointer;
}

.btn3 {
    background-color: rgb(17, 200, 224);
    border: 2px solid #ffff;
    color: #ffff;
}

.btn3:hover {
    background-color: #ffff;
    color: rgb(70, 70, 172);

}

@media only screen and (max-width:700px) {
    .right {
        <i class="fa-solid fa-bars"></i>
    }
}